<% provide(:title, "About") %>
<h1>About Us</h1>
<p>Daniel, Drew, and Kyle are the ace programmers who developed this website.</p>
<p>All three are currently enrolled in Dr. Wahjudi's CS 305 class at Marshall University. </p>
