<% provide(:title, "Add and Remove Student's") %>
  <h2>
    This is where you will add and remove students.
  </h2>

  <table>
  	<tr>
  		<th>StudentID</th>
  		<th>Date Created</th>
  		<th></th>
  	</tr>
  </table>
<li><%= link_to "Add a Student",  '#' %></li>
</div>