
<h2>For 24 hour technical support please contact:</h2>
<h3>Paulus Wahjudi, Ph.D</h3>
<img src="http://www.marshall.edu/mu-advance/Wahjudi.jpg" alt="Dr. Wahjudi" style="float:right;width:142px;height:162px;"> 
<p>Associate Professor</p>
<p>Weisberg Division of Computer Science</p>
<p>WAEC 3113</p>
<p>One John Marshall Drive</p>
<p>Huntington, WV 25755</p>
<p>Telephone: 304-696-5443</p>
<p>Fax: 304-696-5454</p>
<p>Email: wahjudi@marshall.edu</p>
