<% provide(:title, "login") %>
<div class="center jumbotron">
  <h1>Welcome to the Junior Master Gardener's Game</h1>

  <h2>
    This is where the awesome login Drew is making should go.
  </h2>

</div>