<footer class="footer">
<br style="margin-bottom:140px;"/>

  <small>
    The JMG game by Daniel, Drew, and Kyle.</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
</footer>